:root {
    --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --primary-color: #4A90E2;
    --secondary-color: #BD104E;
    --font-family: 'Open Sans', sans-serif;
    --heading-font: 'Raleway', sans-serif;
    --nav-font: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--default-color);
    font-family: var(--font-family);
    background-color: #f5f5f5;
}

/* Estilos del header */
header {
    background-color: rgb(255, 255, 128);
    padding: 20px;
    text-align: left;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 36px;
    font-family: var(--heading-font);
}
.line {
    text-decoration: none;
    color: #BD104E; /* Color para el texto del logo */
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.form-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #357ABD;
}
